<!DOCTYPE html>
<html ng-app="app">
  <head>
    <base href="/" />
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/angular-block-ui/dist/angular-block-ui.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/bower_components/ng-table/dist/ng-table.min.css" />
    <!-- endbower -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <nav class="navbar navbar-custom" role="navigation" ng-controller="HeaderController as vm">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="vm.isCollapsed = !vm.isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <!-- appName -->
Car Service
<!-- /appName -->
          </a>
        </div>

        <div class="collapse navbar-collapse" ng-class="{'in': !vm.isCollapsed}" collapse="vm.isCollapsed">
          <ul class="nav navbar-nav">
            <!-- menu -->
<li><a href="/addresses">Address</a></li>
<li><a href="/users">User</a></li>
<li><a href="/orders">Order</a></li>
<!-- /menu -->

          </ul>

        </div>
      </div>
    </nav>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
    <script src="/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/blockui/jquery.blockUI.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
    <script src="/bower_components/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="/bower_components/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/bower_components/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="/bower_components/ng-table/dist/ng-table.min.js"></script>
    <!-- endbower -->
    <!--SCRIPTS-->
    <script src="/app/app.js"></script>
    <script src="/app/app.config.js"></script>
    <script src="/app/addresses/module.js"></script>
    <script src="/app/orders/module.js"></script>
    <script src="/app/users/module.js"></script>
    <script src="/app/app.apiService.js"></script>
    <script src="/app/app.utilService.js"></script>
    <script src="/app/addresses/config.js"></script>
    <script src="/app/orders/config.js"></script>
    <script src="/app/users/config.js"></script>
    <script src="/app/addresses/edit.controller.js"></script>
    <script src="/app/addresses/list.controller.js"></script>
    <script src="/app/app.httpInterceptor.js"></script>
    <script src="/app/common/field.js"></script>
    <script src="/app/common/form-validation.js"></script>
    <script src="/app/common/header.controller.js"></script>
    <script src="/app/common/validation-summary.js"></script>
    <script src="/app/orders/edit.controller.js"></script>
    <script src="/app/orders/list.controller.js"></script>
    <script src="/app/users/edit.controller.js"></script>
    <script src="/app/users/list.controller.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
