<div class="row">
    <div class="form-group" show-errors="{{name}}">
        <label for="{{name}}">{{title}}<i ng-if="required" class="fa fa-asterisk"></i></label><br />

        <input class="form-control" ng-if="type == 'text'" ng-required="required" type="text" id="{{name}}" name="{{name}}" ng-model="$parent.value" placeholder="{{placeholder}}" />

        <textarea class="form-control" ng-if="type == 'textarea'" ng-required="required" type="text" id="{{name}}" name="{{name}}" ng-model="$parent.value" placeholder="{{placeholder}}" rows="4"></textarea>

        <input ng-if="type == 'checkbox'" type="checkbox" id="{{name}}" name="{{name}}" ng-model="$parent.value" />

        <input class="form-control" ng-if="type === 'integer'" ng-required="required" type="text" id="{{name}}" name="{{name}}" ng-model="$parent.value" placeholder="{{placeholder}}" validate-integer />

        <input class="form-control" ng-if="type === 'float'" ng-required="required" type="text" id="{{name}}" name="{{name}}" ng-model="$parent.value" placeholder="{{placeholder}}" validate-float />

        <input class="form-control" ng-if="type == 'password'" ng-required="required" type="password" id="{{name}}" name="{{name}}" ng-model="$parent.value" placeholder="{{placeholder}}" />

        <input class="form-control" ng-if="type == 'file'" ng-required="required" type="file" id="{{name}}" name="{{name}}" ng-model="$parent.value" placeholder="{{placeholder}}" />

        <div class="input-group" ng-if="type == 'email'">
            <input class="form-control" ng-required="required" type="text" id="{{name}}" name="{{name}}" ng-model="$parent.value" placeholder="{{placeholder}}" validate-email />
            <span class="input-group-addon"><i class="fa fa-at"></i></span>
        </div>

        <div class="input-group" ng-if="type == 'date'">
            <input class="form-control datepicker" ng-required="required" type="text" id="{{name}}" name="{{name}}" ng-model="$parent.value" placeholder="{{placeholder}}" />
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>

        <select class="form-control" ng-if="type == 'dropdown'" ng-required="required" type="text" id="{{name}}" name="{{name}}" ng-model="$parent.value"
                ng-options="item.value as item.name for item in items">
            <option value="">--- None ---</option>
        </select>
    </div>
</div>
